<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>
<body>
    <h1>Přihlášení</h1>

    <a href='/'>Seznam ToDos</a>
    <a href='/register'>Registrace</a>

    <hr>

    <form action='/login' method='post'>
        <input type='text' name='name' placeholder='Jméno'>
        <input type='password' name='password' placeholder='Heslo'>
        <button type='submit'>Přihlásit se</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
        <div><%= error %></div>
    <% } %>
</body>
</html>